<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>Controller.SearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>Controller.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>Controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>Controller.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>Controller.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>Controller.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>Controller.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeQuantityController</servlet-name>
        <servlet-class>Controller.ChangeQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToOrderController</servlet-name>
        <servlet-class>Controller.AddToOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductCartController</servlet-name>
        <servlet-class>Controller.DeleteProductCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderController</servlet-name>
        <servlet-class>Controller.DeleteOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertInvoiceController</servlet-name>
        <servlet-class>Controller.InsertInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductUserController</servlet-name>
        <servlet-class>Controller.SearchProductUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterProductController</servlet-name>
        <servlet-class>Controller.FilterProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertToWhistListController</servlet-name>
        <servlet-class>Controller.InsertToWhistListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNewProductController</servlet-name>
        <servlet-class>Controller.InsertNewProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMinMaxController</servlet-name>
        <servlet-class>Controller.SearchMinMaxController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/registerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/searchProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/updateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/addToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/searchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/deleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/updateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/deleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeQuantityController</servlet-name>
        <url-pattern>/changeQuantityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToOrderController</servlet-name>
        <url-pattern>/addToOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductCartController</servlet-name>
        <url-pattern>/deleteProductCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderController</servlet-name>
        <url-pattern>/deleteOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertInvoiceController</servlet-name>
        <url-pattern>/insertInvoiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductUserController</servlet-name>
        <url-pattern>/searchProductUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterProductController</servlet-name>
        <url-pattern>/filterProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertToWhistListController</servlet-name>
        <url-pattern>/insertToWhistListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNewProductController</servlet-name>
        <url-pattern>/insertNewProductController</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
